<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} Inventory</title>
</head>
<body>
    <h2>{{name}} Department Inventory</h2>
    <table width="25%">
        <tr align="left">
            <th>Item Name</th>
            <th>Quantity</th>
        </tr>
        {% for key,value in d.items %}
            {% if value != 0 %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{ value }}</td>
                </tr>
            {%endif%}
        {% endfor %}
    </table>


</body>
</html>